body {
  display: flex;
  justify-content: center;
}

body > div {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  width: 200px;
  height: 200px;
  flex-wrap: wrap;
  text-align: center;
  position: relative;
}
.main > h2 {
  position: absolute;
  top: 86px;
  left: 86px;
  margin: 0;
}
.main > div {
  width: 50%;
  height: 50%;
}

.sectionone {
  background-color: red;
  transform-origin: top left;
}

.sectiontwo {
  background-color: yellow;
  transform-origin: top right;
}
.sectionthree {
  background-color: blue;
  transform-origin: bottom left;
}
.sectionfour {
  background-color: green;
  transform-origin: bottom right;
}

.transition {
  transition: transform 1s linear;
  transform-style: preserve-3D;
}
.main:hover .rotateright {
  transform: rotate(90deg);
}
.main:hover .rotateleft {
  transform: rotate(-90deg);
}
